<nav class="navbar navbar-inverse navbar-fixed-top navbar-transparent">
   <div class="container">
     <div class="navbar-header page-scroll">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </button>
         <a id="page-top" class="navbar-brand page-scroll courgette" href="#page-top">
           <img src="{{@blog.logo}}" alt="logo" class="img-rounded" />
           <span class="navbar-brand-text" >{{@blog.title}}</span>
         </a>
     </div>
     <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse roboto">
       <ul class="nav navbar-nav navbar-right">
         {{#foreach navigation}}
             <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
         {{/foreach}}
       </ul>

     </div>
   </div>
</nav>
