{{!< default}}
{{{navigation}}}

{{#author}}
    <section class="author-profile main-header text-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url({{@blog.cover}})" >
        <h4>
          Autor
        </h4>
        <h2 class="author-title">{{name}}</h2>

        {{#if image}}
          <figure class="author-image center-block">
            <img src="{{image}}" alt="{{image}}" class="img-responsive img-circle"  />
          </figure>
        {{/if}}

        {{#if bio}}
            <h3 class="author-bio">{{bio}}</h3>
        {{/if}}

        <div class="author-meta lead">
            {{#if location}}<h4 class="author-location icon-location">{{location}}</h4>{{/if}}
            {{#if website}}<h4 class="author-link icon-link"><a href="{{website}}">{{website}}</a></h4>{{/if}}
            <span class="author-stats badge"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
        </div>
    </section>
{{/author}}

{{! The main content area on the homepage }}
<main class="container" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
