<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}" />


    {{! Styles'n'Scripts }}

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="footer clearfix">
          <div class="container text-center">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
              </div>

              <div class="col-xs-12 col-md-6">
                <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
              </div>
            </div>
          </div>
          <hr/>

          <p class="text-center footer-icon">
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
          </p>
        </footer>


    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/javascript" src="{{asset "js/cbpAnimatedHeader.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>

</body>
</html>
